/* General styles */

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  width: 80vw;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

p li {
  font-size: 1.7em;
}

/* +++ more specific section styles +++ */

/* header and footer */

header,
footer {
  background-color: teal;
  height: 10em;
  padding: 2em;
  clear: both;
}

footer p {
  margin: 70px;
}

header h1 {
  text-align: center;
  align-content: center;
  padding: 0.5em 0;
  margin: 0;
}

/* main content */

main {
  padding: 2em;
  width: 1fr;
}

main p,
main li {
  line-height: 2;
}

img {
  float: right;
  margin: 1.2em 2em;
}

aside {
}

.grid {
  display: grid;
  grid-auto-columns: auto;
}
